eth_inventory_web_dir: /data/eth-inventory-web

eth_inventory_web_container_image: nginx:alpine
eth_inventory_web_container_name: eth-inventory-web
eth_inventory_web_container_published_ports: []
eth_inventory_web_container_restart_policy: always
eth_inventory_web_container_networks_cli_compatible: true
eth_inventory_web_container_network_mode: default
eth_inventory_web_container_networks: []
eth_inventory_web_container_env: {}
eth_inventory_web_container_volumes_from: []
eth_inventory_web_container_volumes:
  - "{{ eth_inventory_web_dir }}/content:/usr/share/nginx/html:ro"
  - "{{ eth_inventory_web_dir }}/nginx-conf/default.conf:/etc/nginx/conf.d/default.conf:ro"

eth_inventory_web_content:
  - file: v1/inventory.json
    content: |
      {
        "ethereum_pairs": {
          {% for host in groups['ethereum_node'] | sort %}
            "{{ host }}": {
              "consensus": {
                "client": "{{ hostvars[host]['ethereum_node_cl'] }}",
                "image": "{{ hostvars[host][ (hostvars[host]['ethereum_node_cl']) + '_container_image'] }}",
                "enr": "{{ hostvars[host]['ethereum_node_cl_enr'] }}",
                "beacon_uri": "https://{{ hostvars[host]['ethereum_node_beacon_hostname'] }}"
              },
              "execution": {
                "client": "{{ hostvars[host]['ethereum_node_el'] }}",
                "image": "{{ hostvars[host][ (hostvars[host]['ethereum_node_el']) + '_container_image'] }}",
                "enode": "{{ hostvars[host]['ethereum_node_el_enode'] }}",
                "rpc_uri": "https://{{ hostvars[host]['ethereum_node_rcp_hostname'] }}"
              }
            }{% if not loop.last %},{% endif %}
          {% endfor %}
        }
      }

eth_inventory_web_nginx_config: |
  server {
      listen       80;
      server_name  localhost;

      location / {
          if ($request_method = 'OPTIONS') {
              add_header 'Access-Control-Allow-Origin' '*';
              add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
              #
              # Custom headers and headers various browsers *should* be OK with but aren't
              #
              add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
              #
              # Tell client that this pre-flight info is valid for 20 days
              #
              add_header 'Access-Control-Max-Age' 1728000;
              add_header 'Content-Type' 'text/plain; charset=utf-8';
              add_header 'Content-Length' 0;
              return 204;
          }
          if ($request_method = 'POST') {
              add_header 'Access-Control-Allow-Origin' '*' always;
              add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS' always;
              add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range' always;
              add_header 'Access-Control-Expose-Headers' 'Content-Length,Content-Range' always;
          }
          if ($request_method = 'GET') {
              add_header 'Access-Control-Allow-Origin' '*' always;
              add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS' always;
              add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range' always;
              add_header 'Access-Control-Expose-Headers' 'Content-Length,Content-Range' always;
          }
          root   /usr/share/nginx/html;
          index  index.html index.htm;
      }

      error_page   500 502 503 504  /50x.html;
      location = /50x.html {
          root   /usr/share/nginx/html;
      }
  }
