[all:vars]
ethereum_network_name=${ethereum_network_name}

%{ for gid, group in groups ~}
[${replace(gid, "-", "_")}]
%{ for key, host in hosts ~}
%{ if host.group == gid ~}
${host.hostname} ansible_host=${host.ip} cloud=${host.cloud} cloud_region=${host.region}
%{ endif ~}
%{ endfor ~}

%{ endfor ~}

# Consensus client groups

[lighthouse:children]
lighthouse_ethereumjs
lighthouse_geth
lighthouse_nethermind

[prysm:children]
prysm_ethereumjs
prysm_geth
prysm_nethermind

[lodestar:children]
lodestar_ethereumjs
lodestar_geth
lodestar_nethermind

[teku:children]
teku_ethereumjs
teku_geth
teku_nethermind

# Execution client groups

[geth:children]
lighthouse_geth
lodestar_geth
prysm_geth
teku_geth

[nethermind:children]
lighthouse_nethermind
lodestar_nethermind
prysm_nethermind
teku_nethermind

[ethereumjs:children]
lighthouse_ethereumjs
lodestar_ethereumjs
prysm_ethereumjs
teku_ethereumjs

# Global groups

[consensus_node:children]
lighthouse
lodestar
prysm

[execution_node:children]
ethereumjs
geth
nethermind

[ethereum_node:children]
consensus_node
execution_node
