- name: Create required directories
  ansible.builtin.file:
    path: "{{ beacon_stopper_datadir }}"
    state: directory
    recurse: true
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: "0755"

- name: Copy over template script
  ansible.builtin.template:
    src: beacon_stopper.sh.j2
    dest: "{{ beacon_stopper_datadir }}/beacon_stopper.sh"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0755'

- name: Run the script in the background
  ansible.builtin.shell: "screen -dmS script_session bash -c {{ beacon_stopper_datadir }}/beacon_stopper.sh"

