%{ for gid, group in groups ~}
[${replace(gid, "-", "_")}]
%{ for key, host in hosts ~}
%{ if host.group == gid ~}
${host.hostname} ansible_host=${host.ip} cloud=${host.cloud} cloud_region=${host.region}
%{ endif ~}
%{ endfor ~}

%{ endfor ~}

[lighthouse:children]
lighthouse_geth

[prysm:children]
prysm_geth

[lodestar:children]
lodestar_geth

[geth:children]
bootnode
lighthouse_geth
prysm_geth
lodestar_geth


[consensus_node:children]
lighthouse
prysm
lodestar

[execution_node:children]
geth

[ethereum_node:children]
consensus_node
execution_node
