%{ for gid, group in groups ~}
[${replace(gid, "-", "_")}]
%{ for key, host in hosts ~}
%{ if host.group == gid ~}
${host.hostname} ansible_host=${host.ip} cloud=${host.cloud} cloud_region=${host.region}
%{ endif ~}
%{ endfor ~}

%{ endfor ~}

[lighthouse:children]
lighthouse_geth
lighthouse_nethermind

[prysm:children]
prysm_geth
prysm_nethermind

[lodestar:children]
lodestar_geth
lodestar_nethermind

[geth:children]
lighthouse_geth
prysm_geth
lodestar_geth

[nethermind:children]
lighthouse_nethermind
prysm_nethermind
lodestar_nethermind


[consensus_node:children]
lighthouse
prysm
lodestar

[execution_node:children]
geth
nethermind

[ethereum_node:children]
consensus_node
execution_node
