%{ for gid, group in groups ~}
[${replace(gid, "-", "_")}]
%{ for key, host in hosts ~}
%{ if host.group == gid ~}
${host.hostname} ansible_host=${host.ip} cloud=${host.cloud} cloud_region=${host.region}
%{ endif ~}
%{ endfor ~}

%{ endfor ~}

[lighthouse:children]
lighthouse_besu
lighthouse_geth
lighthouse_erigon
lighthouse_nethermind

[teku:children]
bootnode
teku_besu
teku_geth
teku_erigon
teku_nethermind

[prysm:children]
prysm_besu
prysm_geth
prysm_erigon
prysm_nethermind

[nimbus:children]
nimbus_besu
nimbus_geth
nimbus_erigon
nimbus_nethermind

[lodestar:children]
lodestar_besu
lodestar_geth
lodestar_erigon
lodestar_nethermind
lodestar_ethereumjs

[besu:children]
lighthouse_besu
teku_besu
prysm_besu
nimbus_besu
lodestar_besu

[geth:children]
bootnode
lighthouse_geth
teku_geth
prysm_geth
nimbus_geth
lodestar_geth

[erigon:children]
lighthouse_erigon
teku_erigon
prysm_erigon
nimbus_erigon
lodestar_erigon

[nethermind:children]
lighthouse_nethermind
teku_nethermind
prysm_nethermind
nimbus_nethermind
lodestar_nethermind

[consensus:children]
lighthouse
teku
prysm
nimbus
lodestar

[execution:children]
besu
geth
erigon
nethermind
ethereumjs
