[defaults]
stdout_callback      = yaml # Better readability
inventory            = inventories/devnet-5/inventory.ini
roles_path           = vendor/roles/:roles # First path in roles_path and collections_path will be used by ansible-galaxy to install dependencies.
collections_path     = vendor/collections
forks                = 20
timeout              = 30
retry_files_enabled  = False
host_key_checking    = False
vars_plugins_enabled = host_group_vars,community.sops.sops


# Persist facts locally so that they can be used within multiple runs
fact_caching            = jsonfile
# Keep facts forever
fact_caching_timeout    = 0
# Where to store the fact cache
fact_caching_connection = tmp/devnet-5/

[inventory]
enable_plugins = script, yaml, ini

[ssh_connection]
ssh_args   = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
pipelining = true
