# {{ ansible_managed }}

apiVersion: v2
name: {{ item.key | replace('_', '-') }}
description: A Helm chart for Kubernetes
type: application
version: 0.1.0
{% if (item.value.dependencies is defined) and (item.value.dependencies | length) > 0 %}
dependencies:
  {{ item.value.dependencies | to_nice_yaml(indent=2) | indent(width=2) }}
{%- endif -%}
