# {{ ansible_managed }}

fauceth:
  fullnameOverride: fauceth
  image:
    repository: {{ default_tooling_images.fauceth.split(':') | first }}
    tag: {{ default_tooling_images.fauceth.split(':') | last}}
  ingress:
    enabled: true

    className: ingress-nginx-public

    hosts:
      - host: faucet.{{ network_subdomain }}
        paths:
          - path: /
            pathType: Prefix

  secretEnv:
    APP_AMOUNT: "100080000000000000000" # 100.08 ETH
    APP_IMAGEURL: "https://i.imgur.com/M0gEdpw.png"
    APP_TITLE: "{{ ethereum_network_name }} Faucet"
    APP_CHAINS: "{{ ethereum_genesis_chain_id }}"
    APP_LOGGING: "VERBOSE"
    APP_ETHKEY: "<path:/secrets/services/services.enc.yaml#ethereum | jsonPath {.testnets.4844-devnets.faucet_private_key}>"
    HCAPTCHA_SECRET: "<path:/secrets/services/services.enc.yaml#hcaptcha | jsonPath {.secret_key}>"
    HCAPTCHA_SITEKEY: "<path:/secrets/services/services.enc.yaml#hcaptcha | jsonPath {.site_key}>"

  initContainers:
  - name: init-config
    image: bash:latest
    imagePullPolicy: IfNotPresent
    securityContext:
      runAsNonRoot: false
      runAsUser: 0
    volumeMounts:
      - name: config
        mountPath: /config
    command:
    - bash
    - -ace
    - >
      echo '
      [{
        "name": "{{ ethereum_network_name }}",
        "chain": "4844Eth",
        "icon": "ethereum",
        "rpc": [
          "{{ default_el_endpoint }}"
        ],
        "faucets": [],
        "nativeCurrency": {
          "name": "Ether",
          "symbol": "ETH",
          "decimals": 18
        },
        "infoURL": "https://ethereum.org",
        "shortName": "eth",
        "chainId": {{ ethereum_genesis_chain_id }},
        "networkId": {{ ethereum_genesis_chain_id }},
        "slip44": 60,
        "ens": {
          "registry":"0x00000000000C2E074eC69A0dFb2997BA6C7d2e1e"
        }
      }]
      ' > /config/chains.json;
      cat /config/chains.json;
