# {{ ansible_managed }}

forky:
  fullnameOverride: forky
  replicas: 1
  image:
    repository: {{ default_tooling_images.forky.split(':') | first }}
    tag: {{ default_tooling_images.forky.split(':') | last }}
  resources:
    requests:
      cpu: 256m
      memory: 512Mi
  ingress:
    enabled: true
    className: ingress-nginx-public
    hosts:
      - host: forky.{{ network_subdomain }}
        paths:
          - path: /
            pathType: Prefix
  config:
    listen_addr: ":5555"
    pprof_addr: ":6060"
    log_level: "debug"
    metrics:
      addr: ":9090"
      enabled: true
    forky:
      retention_period: "1m"
      store:
        type: memory
      indexer:
        dsn: "file::memory:?cache=shared"
        driver_name: sqlite
      ethereum:
        network:
          name: "{{ ethereum_network_name }}"
          spec:
            seconds_per_slot: 12
            slots_per_epoch: 32
            genesis_time: {{ ethereum_genesis_timestamp + ethereum_genesis_timedelay }}
      sources:
{% for host in (groups['ethereum_node'] + groups['bootnode']) | sort %}
        - name: {{ hostvars[host]['inventory_hostname'] }}
          type: "beacon_node"
          config:
            address: https://<path:/secrets/services/services.enc.yaml#ethereum | jsonPath {.testnets.4844-devnets.node_ingress.combined}>@bn.{{ hostvars[host]['inventory_hostname'] }}.srv.{{ network_subdomain }}
            polling_interval: "12s"
{% endfor %}
