# {{ ansible_managed }}

testnet-homepage:
  fullnameOverride: homepage

  replicas: 1

  image:
    repository: {{ default_tooling_images.homepage.split(':') | first  }}
    tag: {{ default_tooling_images.homepage.split(':') | last  }}

  resources:
    requests:
      cpu: 33m
      memory: 64Mi
  ingress:
    enabled: true

    className: ingress-nginx-public

    hosts:
      - host: {{ network_subdomain }}
        paths:
          - path: /
            pathType: Prefix

  customMarkdown: |-
    ## Network Spec
    https://notes.ethereum.org/@ethpandaops/{{ ethereum_network_name  | replace('4844-', '')}}-specs

    ## Ansible setup
    https://github.com/ethpandaops/4844-testnet

    ## Client versions
    https://github.com/ethpandaops/4844-testnet/blob/master/ansible/inventories/{{ ethereum_network_name  | replace('4844-', '')}}/group_vars/all/images.yaml

    ## Validator ranges
    - https://config.{{ network_subdomain }}/api/v1/nodes/validator-ranges

    Some examples:
    ```sh
    ## Pretty print in YAML format
    curl -s https://config.{{ network_subdomain }}/api/v1/nodes/validator-ranges \
      | yq '.ranges' -P
    ```

    ## Ethereum node inventory
    - https://config.{{ network_subdomain }}/api/v1/nodes/inventory

    Some examples on how to filter specific data from the node inventory:
    ```sh
    # Getting execution layer client enodes
    curl -s https://config.{{ network_subdomain }}/api/v1/nodes/inventory \
      | jq -r '.ethereum_pairs[] | .execution.enode'
    # Getting conseus layer client ENRs
    curl -s https://config.{{ network_subdomain }}/api/v1/nodes/inventory \
      | jq -r '.ethereum_pairs[] | .consensus.enr'
    ```

    ## Genesis configuration
    ### Execution layer clients
    - https://config.{{ network_subdomain }}/el/genesis.json
    - https://config.{{ network_subdomain }}/el/chainspec.json

    ### Consensus layer clients
    - https://config.{{ network_subdomain }}/cl/config.yaml
    - https://config.{{ network_subdomain }}/cl/genesis.ssz
    - https://config.{{ network_subdomain }}/cl/deploy_block.txt
    - https://config.{{ network_subdomain }}/cl/deposit_contract.txt
    - https://config.{{ network_subdomain }}/cl/deposit_contract_block.txt


  customArgs:
    - -b
    - https://{{ network_subdomain }}

  config:
    baseURL: https://{{ network_subdomain }}
    languageCode: en-us
    title: {{ ethereum_network_name }}
    theme: PaperMod
    markup:
      highlight:
        codeFences: true
        guessSyntax: true
        lineNos: false
        style: monokai
    params:
      disableThemeToggle: true
      defaultTheme: dark
      ethereum:
        faucetUrl: https://faucet.{{ network_subdomain }}
        faucet2Url: https://faucet-2.{{ network_subdomain }}
        rpcUrl: https://rpc.{{ network_subdomain }}
        explorerUrl: https://explorer.{{ network_subdomain }}
        forkmonUrl: https://forkmon.{{ network_subdomain }}
        beaconexplorerUrl: "WIP"
        checkpointSyncUrl: "WIP"
        blobscanUrl: https://blobscan.com
        blobscanethpandaUrl: https://blobscan.{{ network_subdomain }}
        ethstatsUrl: https://ethstats.{{ network_subdomain }}
        chainName: "{{ ethereum_network_name }}"
        chainId: "{{ ethereum_genesis_chain_id }}"
        github: https://github.com/ethpandaops/4844-testnet/tree/master/network-configs/{{ ethereum_network_name  | replace('4844-', '')}}
      metamask:
        enabled: true
      logo:
        enabled: false
        url: https://i.imgur.com/M0gEdpw.png
      assets:
        favicon: https://i.imgur.com/M0gEdpw.png
        favicon16x16: https://i.imgur.com/M0gEdpw.png
        favicon32x32: https://i.imgur.com/M0gEdpw.png
        apple_touch_icon: https://i.imgur.com/M0gEdpw.png
        safari_pinned_tab: https://i.imgur.com/M0gEdpw.png

      links:
      - name: "Testnet Spec"
        dataLookup: github
      - name: "JSON RPC"
        dataLookup: rpcUrl
      - name: "Explorer"
        dataLookup: explorerUrl
      - name: "Beaconchain explorer (not working)"
        dataLookup: "beaconexplorerUrl"
      - name: "Blobscan"
        dataLookup: blobscanUrl
      - name: "Blobscan ethpanda edition"
        dataLookup: blobscanethpandaUrl
      - name: "Checkpoint Sync"
        dataLookup: checkpointSyncUrl
      - name: "Faucet 1"
        dataLookup: faucetUrl
      - name: "Faucet 2"
        dataLookup: faucet2Url
      - name: "Forkmon"
        dataLookup: forkmonUrl
      - name: "Ethstats"
        dataLookup: ethstatsUrl
    menu:
      main:
        - identifier: ethereum-website
          name: ethereum.org
          url: https://ethereum.org
          weight: 30
    disableKinds: ["taxonomy", "taxonomyTerm"]
    copyright: "Long live the surge"
